.root {
  background-color: #fff;
  position: relative;
  display: flex;
}

@media screen and (max-width: 900px) {
  .root {
    height: 65px;
  }
}

.navbarContainer {
  max-width: 1536px;
  height: 100%;
}

.navbarToolbar {
  height: 100%;
}

.rootGridContainer {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .leftGridContainer {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
  }
  .menuButton {
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-items: center;
    display: flex;
  }
  .menuButton:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.1, 1.1);
  }
  .iconButton {
    font-weight: 900;
    font-size: 1.2em;
  }
  .routesMenuContainer {
    all: initial;
    display: none;
  }
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}
.navbarLogoText {
  font-family: plaster;
  font-weight: 700;
  color: #287271;
}

.actionButtonsGridContainer {
  display: flex;
  align-items: center;
}

.actionButtonsContainer {
  display: flex;
  justify-content: right;
  flex-grow: 1;
  position: absolute;
  right: 10px;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
}

.actionButtonText {
  font-size: 1.1em;
  font-weight: 400;
  text-transform: capitalize;
}
.actionButtonText:hover {
  transition: transform 0.5s ease-in-out;
  transform: scale(1.1, 1.1);
}

.buttonSubscribe {
  margin: 0 2px;
}

.searchIconContainer {
  height: 48px;
  width: 48px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.searchIcon {
  font-size: 16px;
  color: #000;
  margin-left: 2px;
  font-weight: 700;
}

.routesMenuContainer {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #000;
  margin: 0 auto;
}

.tab {
  color: #000;
  font-size: 0.7em;
  font-weight: 600;
  text-transform: capitalize;
}
.tab:hover {
  color: #2a9d8f;
  transition: 0.3s ease-in-out;
  transform: scale(1.1, 1.1);
}
