.root {
  position: sticky;
  bottom: 0;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.footerTitle {
  font-family: plaster;
  font-weight: 700;
  color: #212121;
  margin-bottom: 20px;
  cursor: pointer;
}

.tabContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50px;
  margin-bottom: 20px;
}

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
  cursor: pointer;
  width: 65px;
  height: 35px;
  font-size: 1.2em;
}
@media screen and (max-width: 600px) {
  .tab {
    width: 50px;
    font-size: 0.8em;
    margin-right: 5px;
  }
}
/* @media screen and (max-width: 900px) {
  .tab {
    width: 75px;

    font-size: 0.9em;
    margin-right: 5px;
  }
} */

.tab:hover:focus {
  transition: 0.3s ease-in-out;
  transform: scale(1.1, 1.1);
}
.tab:before {
  /* content: "•";
  color: #264653;
  margin-right: 5px; */
}
.selected:before {
  content: "•";
  color: #264653;
  margin-right: 5px;
  font-weight: bold;
  font-size: 1em;
  padding-bottom: 2px;
}

.tabButton {
  all: unset;
}
.tabButton:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1, 1.1);
}

.tabText {
  color: #424242;
  text-transform: capitalize;
  font-size: 0.7em;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.rights {
  font-weight: 500;
  color: #424242;
  margin-bottom: 20px;
}

.divider {
  color: #424242;
  height: 2px;
  width: 60%;
  margin-top: 5px;
  margin: 20px 0;
}
