.root {
}

.pageTitle {
  text-align: justify;
  text-align: center;
  font-weight: 900;
  margin-bottom: 20px;
  color: #212121;
}

.contentGridContainer {
  display: flex;
}

.contentContainer {
  display: flex;
  justify-content: center;
  margin-top: 0;
  width: 100%;
  overflow: hidden;
  padding: 5px;
  position: relative;
  padding-right: 1em;
}
@media screen and (max-width: 900px) {
  .contentContainer {
    margin-right: 0;
    padding: 0 10px;
  }
}

.frontPostContainer {
  width: 100%;
  margin-bottom: 4em;
  overflow: hidden;
  position: relative;
  margin-right: 20px;
  background-color: #000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media screen and (max-width: 900px) {
  .contentContainer {
    margin-right: 0;
  }
  .frontPostContainer {
    margin-right: 0;
  }
}

@media screen and (min-width: 900px) {
  .frontPostContainer {
    margin-right: 1em;
    height: 500px;
  }
}

.frontPostImageContainer {
  display: flex;
  position: relative;
  opacity: 0.8;
}

.frontPostImage {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.frontPostTitleContainer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em;
}

.frontPostTitle {
  font-weight: 900;
  color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  text-shadow: 0 0 8px black, 0 0 1px black, 0 0 1px black, 0 1px 1px black;
}
@media screen and (max-width: 480px) {
  .frontPostTitle {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 900px) {
  .frontPostTitle {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 1200px) {
  .frontPostTitle {
    font-size: 1.8em;
  }
}

.postContainer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.postImageContainer {
  max-width: 220px;
  max-height: 120px;
  margin-right: 1em;
  margin-bottom: 2em;
}

.postImage {
  border-radius: 5px;
}

.postTag {
  font-size: 0.9em;
  margin-bottom: 5px;
}

.postTitle {
  letter-spacing: 0;
  padding-right: 20px;
  font-weight: 500;
  max-width: 750px;
  margin-bottom: 5px;
  color: #fff;
}
.postAuthor {
  font-size: 0.6em;
}
.postInfoContainer {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.sideContainer {
  display: flex;
  position: relative;
}

.loaderContainer {
  display: flex;
  margin-top: 6em;
}

.titleFig {
  width: 100%;
  text-align: center;
  padding: 1em;
  max-height: 120px;
  overflow: hidden;
}

@media screen and (min-width: 900px) {
  .titleFig {
    display: hidden;
  }
}

.divider {
  color: #424242;
  height: 2px;
  width: 100%;
  margin-top: 5px;
  margin: 20px 0;
  margin-right: 2em;
}

.loadintStatusContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.loadingStatus {
  margin: 1em 0;
  font-weight: 600;
  text-align: center;
}
