.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #000;
}
@media screen and (max-width: 900px) {
  .root {
    height: 300px;
  }
}

.imageContainer {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

.headline {
  color: #fff;
  margin: 0 1em;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s ease-out;
  text-rendering: optimizeLegibility;
  text-shadow: 0 0 5px black, 0 0 1px black, 0 0 1px black, 0 1px 1px black;
}

.headline:hover,
.headline:focus {
  color: #5cbfb3;
}

@media screen and (max-width: 600px) {
  .headline {
    font-size: 1.6em;
  }
}
