@media screen and (max-width: 900px) {
  .drawerContainer {
    width: 300px;
    position: relative;
  }

  .logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    text-align: center;
  }

  .contentContainer {
    display: flex;
  }

  .bottomContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    width: 300px;
    text-align: center;
    position: fixed;
    bottom: 0;
  }

  .logoTitle {
    font-family: plaster;
    font-weight: 700;
    color: #212121;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .menuButton {
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .menuButton:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.1, 1.1);
  }
  .iconButton {
    font-weight: 900;
    font-size: 1.2em;
  }

  .listItem {
    height: 80px;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  .listItem:hover:focus {
    background-color: #f7f7f7;
    transition: 0.3s ease-in-out;
    transform: scale(1.1, 1.1);
  }

  .listItemIcon {
    all: unset;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.8em;
    margin-right: 20px;
    color: #212121;
  }

  .true {
  }

  .listItemText {
    font-size: 2em;
    font-weight: 700;
    color: #212121;
  }
}

@media screen and (min-width: 900px) {
  .menuButton {
    display: none;
  }
  .iconButton {
    display: none;
  }
}
