@media screen and (max-width: 900px) {
  .drawerContainer {
    width: 300px;
    position: relative;
  }

  .logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    text-align: center;
  }

  .contentContainer {
    display: flex;
  }

  .bottomContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    width: 300px;
    text-align: center;
    position: fixed;
    bottom: 0;
  }

  .logoTitle {
    font-family: plaster;
    font-weight: 700;
    color: #212121;
    cursor: pointer;
  }

  .menuButton {
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .menuButton:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.1, 1.1);
  }

  .iconButton {
    font-weight: 900;
    font-size: 1.2em;
  }

  .list {
    padding: 0 !important;
  }

  .listItem {
    height: 80px;
    padding-left: 15px;
    margin-bottom: 10px;
  }
  .listItem:hover {
    background-color: #f7f7f7;
    transition: 0.3s ease-in-out;
    transform: scale(1.1, 1.1);
  }

  .listItemIcon {
    all: unset;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.6em;
    margin-right: 20px;
    color: #212121;
  }

  .selected {
    margin-left: 0;
    width: 300px;
    background-color: #e6e6e6;
    font-weight: 900;
  }

  .true {
  }

  .listItemText {
    font-size: 1.6em;
    font-weight: 500;
    color: #212121;
  }
}

@media screen and (min-width: 900px) {
  .menuButton {
    display: none;
  }
  .iconButton {
    display: none;
  }
}
