.root {
}

@media screen and (min-width: 1024px) {
  .root {
    position: fixed;
    top: 0;
    margin-top: 8em;
  }
}
.wrapper {
  box-sizing: border-box;
}
.radarTitle {
  font-weight: 900;
  font-size: 1.8em;
  color: #212121;
}
.radarContainer {
  display: flex;
  flex-direction: column;
}
.radarItemContainer {
  padding-bottom: 5px;
}
.radarContainer:last-child {
  padding-bottom: 0;
}
.rankNumber {
  color: #264653;
  font-size: 1.6em;
  font-weight: 500;
}
.radarItemTitle {
  font-size: 0.9em;
  font-weight: 600;
  color: #264653;
}
