* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  max-width: 100vw;
  font-family: Graphik, Inter, Roboto, Ubuntu, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
